<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <script th:replace="fragments/commons::assets">
    </script>
    <script th:replace="fragments/commons::login">
    </script>

</head>
<body>
<div class="container-bg">
    <div th:replace="fragments/toolbar :: toolbar">

    </div>
    <br>
    <div class="login-form">
        <form action="/login-proces" method="post">
            <h2 class="text-center">Log in</h2>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" name="username" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>
            <div class="form-group">
                <a href="/resetpswd" class="btn btn-primary btn-block">Forgot password</a>
            </div>
            <!--      <div class="clearfix">
                      <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                      <a href="#" class="pull-right">Forgot Password?</a>
                  </div>-->
        </form>
        <p class="text-center"><a href="/register">Create an Account</a></p>
    </div>
    <!--<form class="form-singup" action="/login-proces" method="post">
        <input type="email" name="username">
        <input type="password" name="password">
        <button type="submit">LOGIN</button>
    </form>-->


</div>
</body>
</html>
