<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <script th:replace="fragments/commons::assets">
    </script>
    <script th:replace="fragments/commons::cards">
    </script>
</head>
<body>
<div class="container-bg">
    <div th:replace="fragments/toolbarProductList :: toolbar">

    </div>

    <div class="row">
        <div class="card-group">
            <div class="card col-md-4" th:each="product : ${products}">
                <br>
                <div class="card-body">
                    <img class="card-img-top" th:src="@{${product.productImageUrl}}" alt="">
                    <h5 class="card-title" th:text="${product.productTitle}"></h5>
                    <p class="card-text" th:text="${product.productDescription}"></p>
                    <br>
                    <label>Price is</label>
                    <p class="card-text" th:text="${product.productPrice}"></p>
                </div>
                <div class="form-group">
                    <a class="btn btn-info" th:href="@{'/product/'+${product.id}}">Show
                        product details
                    </a>
                </div>
                <br>
            </div>

        </div>
    </div>
    <br>
    <div>
        <th:block th:each="i: ${#numbers.sequence(0, products.getTotalPages() - 1)}">
            <a class="btn btn-success" th:href="@{/product/all(page=${i})}" th:text="${i+1}"></a>
        </th:block>
    </div>
</div>


</body>

</html>