<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product add form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<form action="/product/add" method="post" th:object="${productToSave}">
    <input type="text" th:field="*{productTitle}" placeholder="Tytuł produktu"> <br>
    <input type="text" th:field="*{productDescription}" placeholder="Opis produktu"><br>
    <input type="text" th:field="*{productImageUrl}" placeholder="Image Url"><br>
    <input type="text" th:field="*{productCategoryTitle}" placeholder="Kategoria produktu"><br>
    <input type="number" th:field="*{productPrice}" placeholder="Cena produktu"><br>
    <label>
        <select type="text" th:field="*{productType}" placeholder="Typ produktu"><br>
            <option th:each="c : ${productTypes}" th:text="${c.plName}" th:value="${c.name()}"></option>
        </select>
    </label><br>
    <input type="text" th:field="*{authorName}" placeholder="Imie autora"><br>
    <input type="text" th:field="*{authorSurname}" placeholder="Nazwisko autora"><br>
    <button type="submit">Dodaj produkt</button>
    <br>
    <button type="reset">RESET</button>
</form>

</body>
</html>