<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product add form</title>
    <script th:replace="fragments/commons::assets">
    </script>

</head>
<body>
<div class="container-bg">
    <div th:replace="fragments/toolbar :: toolbar">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Update product information</div>
                    <div class="card-body">

                        <form th:action="@{'/update/' + ${updateProduct.id}}" method="post"
                              th:object="${updateProduct}">
                            <div class="form-group">
                                <label for="pTitle" class="cols-sm-2 control-label">Product title</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" th:field="*{productTitle}"
                                               name="productTitle"
                                               id="pTitle" th:placeholder="${updateProduct.productTitle}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pDescribe" class="cols-sm-2 control-label">Product description</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" th:field="*{productDescription}"
                                               name="productDescription"
                                               id="pDescribe" th:placeholder="${updateProduct.productDescription}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pLink" class="cols-sm-2 control-label">Product img URL</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" th:field="*{productImageUrl}"
                                               name="productDescription"
                                               id="pLink" th:placeholder="${updateProduct.productImageUrl}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pCategory" class="cols-sm-2 control-label">Choose product category</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <select class="browser-default custom-select" id="pCategory" type="text"
                                                th:field="*{productCategory.productCategoryId}">
                                            <option th:each="pc : ${productCategories}"
                                                    th:text="${pc.productCategoryTitle}"
                                                    th:value="${pc.productCategoryId}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="pPrice" class="cols-sm-2 control-label">Enter product price</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="number" class="form-control" th:field="*{productPrice}"
                                               name="productDescription"
                                               id="pPrice" th:placeholder="${updateProduct.productPrice}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pType" class="cols-sm-2 control-label">Choose product type</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <select id="pType" class="cols-sm-2 control-label" type="text"
                                                th:field="*{productType}">
                                            <option th:each="c : ${productTypes}" th:text="${c.plName}"
                                                    th:value="${c.name()}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="pAuthorName" class="cols-sm-2 control-label">Enter author name</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" th:field="*{authorName}"
                                               name="productDescription"
                                               id="pAuthorName" th:placeholder="${updateProduct.authorName}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pAuthorSurname" class="cols-sm-2 control-label">Enter author surname</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" th:field="*{authorSurname}"
                                               name="productDescription"
                                               id="pAuthorSurname" th:placeholder="${updateProduct.authorSurname}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <button type="submit" class="btn btn-danger btn-lg btn-block">Update product information</button>
                            </div>
                            <a th:href="@{'/product/' + ${updateProduct.id}}" class="btn btn-outline-primary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>